<h1>Stock Lookup</h1>
<form method="get" action="/process">
  <input type="text" name="search" placeholder="Company or Ticker" required><br><br>
  <label><input type="radio" name="type" value="company"> Company</label>
  <label><input type="radio" name="type" value="ticker" checked> Ticker</label><br><br>
  <button type="submit">Search</button>
</form>
